body{
    font-family: arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 1;
}
.logo{
    color: white;
    font-size: 30px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
    -webkit-animation: comming 3s ease;
    -o-animation: comming 3s ease;
    animation: comming 3s ease;
}

.menu{
    float: left;
    padding-left: 100px;

}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
   font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topmenu 0.5s ease forwards;
    -o-animation: topmenu 0.5s ease forwards;
    animation: topmenu 0.5s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 110%;
    background: url(../img/IMG_0144.png) 100% 100%/auto 100%  no-repeat , url(../img/Screenshot_5.png) center/cover no-repeat;
}

.title__containe{
    float:left;
    margin: 200px 0px 0px 200px;
    color: gold;
    text-align: center;
    -webkit-animation: topleft 1.5s ease forwards;
    -o-animation: topleft 1.5s ease forwards;
    animation: topleft 1.5s ease forwards;
    opacity: 0;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
   
}

.title__containe h1{
    font-size: 60px;
    font-weight: bold;
}
.title__containe h4{
   margin-top: 40px;
    font-size: 30px;
    color: #dfc8be;
}
.title__containe input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: gold;
    font-size: 30px;
    padding: 0px 16px;
    margin: 58px 15px 0px 15px;    
}

@keyframes topmenu{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topleft{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 200px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.title__containe input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__containe input:hover{
    background: #094394;
    color: white;
}
.title__containe input:active{
    transform: scale(1.2);
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e0840a;
    
}
.menu li a:active{
    transform: scale(1.2)
}
.like:hover{
     color: #e0840a;
}
.like4:hover{
     background: #094394;
    color: white;
}
.like4{
    transition: all 0.3s;
    transform: scale(1);
}
.like4:active{
    transform: scale(1.2);
}
.tg:hover{
     background: #094394;
    color: white;
}
.tg{
    transition: all 0.3s;
    transform: scale(1);
}
.tg:active{
    transform: scale(1.2);
}
.one:hover{
    color: #e0840a;
}
.key:hover{
     color: #e0840a;
}
.logo1{
     background: #e8e6ed;
    width: 100%;
    height: 720px;
}
.like{
    float:left;
    margin: 50px 0px 0px 675px;
    font-size: 40px;
    text-align: center;
    border-bottom: solid;color: #2c384a;
    font-family: arial, sans-serif;
}
.img{
    margin: 70px 0px 0px 615px;
    border-radius:50%;
    height: 200px;
}

.like2{
   float:left;
    margin: 50px 0px 0px 420px;
    text-align:center;
    font-family: cursive;
}

.like3{
     float:left;
    margin: 10px 0px 0px 500px;
    font-family: cursive;
}

.like4{
     float:left;
    margin: 60px 0px 0px 620px;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
    border: 3px solid #6d7552;
    background: none;
    border-radius: 9px;
    font-size: 30px;
    padding: 0px 16px;
    color: goldenrod;
    font-family: cursive;
}
.logo2{
    background: #e0e1e3;
    padding: 0px 0px 100px 0px;
    width: 100%;  
}
.one{
    padding: 30px 0px 300px 660px;
     font-size: 40px;
    text-decoration:underline 4px;
    color: #2c384a;
}
.img1{
    float:left;
width: 50px;
     margin: -200px 0px 0px 410px;
}
.img2{
    float:left;
  width: 50px;  
     margin: -200px 0px 0px 633px;
}
.img3{
    float:left;
    width: 50px;
     margin: -195px 0px 0px 850px;
}
.img4{
    float:left;
    width: 50px;
    margin: -195px 0px 0px 1075px;
    
}
.dis1{
     float:left;
    margin: -130px 0px 0px 400px;
    color: orange;
}
.dis2{
     float:left;
    margin: -130px 0px 0px 625px;
    color: orange;
}
.dis3{
     float:left;
    margin: -127px 0px 0px 815px;
    color: orange;
}
.dis4{
     float:left;
    margin: -127px 0px 0px 1075px;
    color: orange;
}
.like5{
     float:left;
    margin: -100px 0px 0px 350px;
    font-style: italic;
    
}
.like6{
     float:left;
    margin: -100px 0px 0px 575px;
    font-style: italic;
    
}
.like7{
     float:left;
    margin: -100px 0px 0px 800px;
    font-style: italic;
    
}
.like8{
     float:left;
    margin: -100px 0px 0px 1025px;
    font-style: italic;
}
.logo3{
    background: #fcfdfd;
    padding: 0px 0px 80px 0px;
    width: 100%;
}
.key{
    float:left;
    margin: 50px 0px 0px 710px;
    font-size: 40px;
     text-decoration:underline; 4px; color: orange;
    color: #2c384a;
}
.like9{
      float:left;
    margin: 30px 0px 0px 420px;
    font-style: italic;
}

.img5{
      float:left;
    margin: 30px 0px 0px 360px;
    width: 800px;
}

.like10{
     margin: 600px 0px 0px 360px;
}
.like11{
    margin: 20px 0px 0px 360px;
}
.like12{
    margin: -55px 0px 0px 600px;
}

.tg{
    margin: 300px 0px 0px 340px;
    padding: 12px 16px; 
  border-radius: 100px;
  color: #fff;
    background: #39a1f4;
}
.logo4{
   background: #e8e6ed;
    width: 100%;
    height: 550px; 
}
.like13{
    float:left;
    text-align: center;
   margin: 50px 0px 0px 550px; 
    font-size: 50px;
}
.like13:hover{
     color: #e0840a;
}
.tp{
    float:left;
    transform-origin: center;
    margin: 200px 0px 0px -400px;
    display:block;
     padding: 12px 160px; 
  
  color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #39a1f4;
   
}

.tp1{
    float:left;
    transform-origin: center;
     margin: 300px 0px 0px -405px;
     padding: 12px 145px;
 display:block;
  color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #39a1f4;
   
}

.tp2{
    float:left;
    transform-origin: center;
     margin: 400px 0px 0px -410px;
     padding: 12px 120px;
  display:block;
  color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #39a1f4;
}







.statys{
   padding: 10px 0px 0px 15px;
   font-size: 40px;
    font-weight:800;
    color: black;
}
.img-1{
     float:left;
width: 30px;
     margin: 10px 0px 0px 400px;
    
}
.img-2{
     float:left;
width: 30px;
     margin: 10px 0px 0px 200px;
}
.img-3{
     float:left;
width: 30px;
     margin: 10px 0px 0px 200px;
}
.img-4{
     float:left;
width: 30px;
     margin: 10px 0px 0px 200px;
}
.logo5{
  float: left;
   margin-left: 10px;
    margin-top: 10px;  
}

.like-1{
     float:left;
   margin: 10px 0px 0px 375px; 
    font-size: 30px;
}
.like-2{
     float:left;
   margin: 10px 0px 0px 140px; 
    font-size: 30px;
}
.like-3{
     float:left;
   margin: 10px 0px 0px 140px; 
    font-size: 30px;
}
.like-4{
     float:left;
   margin: 10px 0px 0px 165px; 
    font-size: 30px;
}
.like-5{
     margin: 200px 0px 0px 315px;
    font-size: 20px;
    font-weight: 700;

}
.like-6{
    margin: -33px 0px 0px 585px;
    font-size: 20px;
    font-weight: 700;
}
.like-7{
    margin: -33px 0px 0px 800px;
    font-size: 20px;
    font-weight: 700;
}
.like-8{
    margin: -33px 0px 0px 1060px;
    font-size: 20px;
    font-weight: 700;
}



.parallax-img {
  height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Other styling elements, that are not necessary for the example */

body {
  margin:;
  background: #406868;
}



h1 {
  margin: 25px;
  text-align: center;
}

p {
  margin: 25px;
  font-size: 1.1rem;
}

.parallax-img {
  background-image: url(../img/Screenshot_10.png);
}













.logo6{
    padding: 20px 0px 150px 0px;
    width: 100%; 
    background: #e0e1e3;
}
.statys1{
     padding: 20px 0px 0px 690px;
   font-size: 50px;
    color: black;
}
.statys1:hover{
    color: #e0840a;
}
.img7{
    margin: 20px 0px 0px 692px;
    border-radius: 100px;
    width: 200px;
}
.like14{
     padding: 30px 0px 0px 490px;
    font-weight: 700;
    font-style:: cursive;
}
.like15{
     padding: 30px 0px 0px 490px;
    font-weight: 700;
    font-style:: cursive;
}
.logo7{
    background:url(../img/my_call.jpg) 100% 100%/auto 110%;
    width: 100%;
    height: 1200px;
}
.like16{
     padding: 30px 0px 0px 625px;
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
    color: #d9dde3;
}
.like17{
     margin: 50px 0px 0px 400px;
    font-family: cursive;
    text-decoration: underline;
    color: #d9dde3;
    
}
.img8{
     float:left;
width: 50px;
     margin: 50px 0px 0px 400px;
    background-color: #d9dde3;
    border-radius: 40px;
}
.img9{
     float:left;
width: 50px;
     margin: 50px 0px 0px 310px;
    background-color: #d9dde3;
    border-radius: 40px;
}
.img10{
     float:left;
width: 50px;
     margin: 50px 0px 0px 270px;
    background-color: #d9dde3;
    border-radius: 40px;
}

.dis5{
   
    margin: 120px 0px 0px 400px;
    text-decoration: underline;
    color: #d9dde3;
    
}
.dis6{
   
    margin: -14px 0px 0px 700px;
    text-decoration: underline;
    color: #d9dde3;
    
}
.dis7{
   
    margin: -16px 0px 0px 1050px;
    text-decoration: underline;
    color: #d9dde3;
   
}
.like18{
    float:left;
     margin: 30px 0px 0px 480px;
    font-size: 50px;
    color: #d9dde3;
}
.like16:hover{
    color: #e0840a;
}
.like18:hover{
    color: #e0840a;
}
.logo8{
    padding: 30px 0px 100px 0px;
    width: 100%; 
}
.in{
    float:left;
   margin: 30px 0px 0px 600px;
    padding: 12px 120px;
    display:block;
    border: 1px solid black;
}
.in1{
    float:left;
    margin: 20px 0px 0px 600px;
    padding: 12px 120px;
    display:block;
    border: 1px solid black;
}
.in2{
    float:left;
     margin: 20px 0px 0px 600px;
    padding: 12px 120px;
    display:block;
    border: 1px solid black;
}
.in3{
    float:left;
    margin: 30px 0px 0px 506px;
    padding: 12px 120px;
    display:block;
    border: 1px solid black;
}
html, body {
  height: 100%;
}
.wrap {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
margin: 850px 0px 0px -970px;
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.menu1{
    float: left;
    padding-left: 30px;
    padding-top: 100px;
}
.img11{
    float:left;
width: 50px;
     margin: 50px 0px 0px 350px;
    background-color: #d9dde3;
    
}
.img12{
    float:left;
width: 50px;
    margin: 50px 0px 0px 150px;
    background-color: #d9dde3;
    
}
.img13{
    float:left;
width: 50px;
     margin: 50px 0px 0px 150px;
    background-color: #d9dde3;
    
}
.img14{
    float:left;
width: 50px;
     margin: 50px 0px 0px 150px;
    background-color: #d9dde3;
    
}
.img15{
   float:left;
width: 50px;
     margin: 50px 0px 0px 150px; 
    background-color: #d9dde3;
}