body{
    font-family: arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}
.logo{
    color: white;
    font-size: 20px;
    line-height: 60px;
     float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
   

}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 30px;
   font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topmenu 0.5s ease forwards;
    -o-animation: topmenu 0.5s ease forwards;
    animation: topmenu 0.5s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 110%;
    background: url(../img/IMG_0144.png) 100% 100%/auto 100%  no-repeat , url(../img/Screenshot_5.png) center/cover no-repeat;
}

.title__containe{
    float:left;
    color: gold;
    text-align: center;
    width: 100%;
   opacity: 0;
   -webkit-animation: topleft 1.5s ease forwards;
    -o-animation: topleft 1.5s ease forwards;
    animation: topleft 1.5s ease forwards;
    opacity: 0;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;  
}
.title__containe h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.title__containe h4{
   margin-top: 40px;
    font-size: 30px;
    color: #dfc8be;
}
.title__containe input{
    height: 45px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: gold;
    font-size: 25px;
    padding: 0px 16px;
    margin: 58px 15px 0px 15px;    
}

@keyframes topmenu{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topleft{
    from{
        opacity: 0;
        margin-left: -400px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.title__containe input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__containe input:hover{
    background: #094394;
    color: white;
}
.title__containe input:active{
    transform: scale(1.2);
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e0840a;
    
}
.menu li a:active{
transform: scale(1.2)
}
        
.white-btn:visited{
    color: white;
}    
@media (max-width: 1000px){
    .title__containe, .title__containe h4, .title__containe input{
        color:white;
        position: relative;
        z-index: 3;
    }
    .title__containe input{
    border: 2px solid #fff;
    }
    .main{
      position: absolute;   
    }
    .main:after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
       background: rgba(0.0.0.0.4);    
    }
}


.fon{
     width: 100%;
    height: 450px;
    background: url(../img/fon.png);
}
.fon-1{
    height: 930px;
     background: #dee1e4;
}

<style>
/* demo background */
body{
background: #200122;
background: -webkit-linear-gradient(to right, #6f0000, #200122);
background: linear-gradient(to right, #6f0000, #200122);
}

/* style snippet */
#thumbnail-preview-indicators {
 position: relative;
 overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
 #thumbnail-preview-indicators,
 #thumbnail-preview-indicators .slides,
 #thumbnail-preview-indicators .slides .slide-1, 
 #thumbnail-preview-indicators .slides .slide-2,
 #thumbnail-preview-indicators .slides .slide-3 {
 height: 480px;
 }
#thumbnail-preview-indicators .slides .slide-1 {
 background-image: url(https://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-1.jpg); 
}
#thumbnail-preview-indicators .slides .slide-2 {
 background-image: url(https://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-2.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
 background-image: url(https://bootstraptema.ru/snippets/slider/2017/thumbslider/thumbslider-3.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
 top: 20%;
 bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
 position: relative;
 width: 100px;
 height: 8px; 
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 position: absolute;
 top: 0;
 width: 100px;
 display: none;
 opacity: 0;
 left: 50%;
 margin-top: -80px;
 margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
 display: block;
 opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
 opacity: 1;
}
@media screen and (max-width : 480px) { 
 #thumbnail-preview-indicators .carousel-indicators li,
 #thumbnail-preview-indicators .carousel-indicators li.active {
 width: 50px;
 height: 8px;
 position: relative;
 }
 #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 width: 50px;
 left: 50%;
 margin-top: -50px;
 margin-left: -25px;
 }
}
</style>















