.body{
    font-family: arial, sans-serif;
}

 @media (max-width: 412px){
      #size{
    font-size: 10px;
           }
    }

nav{
    width: 100%;
    height: 60px;
    background: #040230;
    position: fixed;
    z-index: 20;
}
.logo{
    color: white;
    font-size: 30px;
    line-height: 60px;
     float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
   

}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 35px;
   font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topmenu 0.5s ease forwards;
    -o-animation: topmenu 0.5s ease forwards;
    animation: topmenu 0.5s ease forwards;
    opacity: 0;
}
.main{   
   background: url(../img/IMG_0144.png) 100% 100%/auto 100%  no-repeat;
   
}
.main{
    position: relative;
    width: 100%;
    height: 100%; 
    
}

                                     /*CanvasEffect*/
.canva{
 color: rgb(255, 255, 255);
font-size: 500%;
text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px; 
}
 #canvaseffect{
 position: absolute;
 top:0; left:0;
 opacity: 6;
    width: 100%;
    height: 100%;  
    
    }
.canva[href="#cases"]{
    color: white;
}

.canva[href="#me"]{
    color: white;
}

                                     /*Карусель Отзывы*/

.box{
 position: relative;
 overflow: hidden;
}
.box img{
 width: 100%;
 height: auto;
 transform-origin: left center 0;
 transform: perspective(400px) rotateY(0deg);
 transition: all 0.5s ease 0s;
}
.box:hover img{
 transform: perspective(400px) rotateY(90deg);
}
.box .box-content{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 background: blue;
 padding: 30px 25px;
 text-align: center;
 transform-origin: right center 0;
 transform: perspective(400px) rotateY(-90deg);
 transition: all 0.5s ease 0s;
}
.box:hover .box-content{
 transform: perspective(400px) rotateY(0deg);
}
.box .title{
 font-size: 20px;
 font-weight: bold;
 color: #fff;
 margin-bottom: 20px;
 text-transform: capitalize;
}
.box .title:after{
 content: "";
 display: block;
 margin-top: 20px;
 border-bottom: 1px solid #fff;
}
.box .description{
 font-size: 14px;
 line-height: 23px;
 color: #fff;
}
@media only screen and (max-width: 990px){
 .box{ margin-bottom:15px; }
}
@media only screen and (max-width: 359px){
 .box .title{ margin: 10px 0; }
 .box .box-content{ padding: 15px; }
}

.title__containe{
    float:left;
    text-align: center;
    width: 100%;
   opacity: 0;
   -webkit-animation: topleft 1.5s ease forwards;
    -o-animation: topleft 1.5s ease forwards;
    animation: topleft 1.5s ease forwards;
    opacity: 0;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;  
}
.title__containe h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}
.title__containe h4{
   margin-top: 30px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.title__containe a{
    float: left;
    height: 40px;
    
    border: 3px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  
}
@media (max-width: 550px){
    .main{
    background: url(../img/IMG_0144.png) 10% 100%/auto 100%  no-repeat;;
           }
    }
    
    
    
@media (max-width: 1200px){
    .title__containe h1{
    font-size: 35px;
           }
    }
@media (max-width: 990px){
    .title__containe h1{
    font-size: 30px;
           }
    }
@media (max-width: 541px){
    .title__containe{
    margin-top: 300px;
           }
    }
@media (max-width: 541px){
    .title__containe h1{
    font-size: 20px;
           }
    }
@media (max-width: 541px){
    .title__containe h4{
    font-size: 10px;
           }
    }
@media (max-width: 541px){
    .title__containe a{
    font-size: 10px;
    height: 20px;    
    margin-top: 25px;
      
           }
    }
@media (max-width: 1200px){
    .title__containe a{
    font-size: 20px;
    height: 35px;    
    margin-top: 25px;
    margin-left: -5px;
           }
    }
@keyframes topmenu{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topleft{
    from{
        opacity: 0;
        margin-left: -400px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.title__containe a{
    transition: all 0.3s;
    transform: scale(1);
}
.title__containe a:hover{
    background: #0080FF;
    color: white;
}
.title__containe a:active{
    transform: scale(1.2);
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e0840a;
    
}
.menu li a:active{
transform: scale(1.2)
}
        
.white-btn:visited{
    color: white;
}    
@media (max-width: 1000px){
    .title__containe, .title__containe h4, .title__containe a{
        color:white;
        position: relative;
        z-index: 3;
    }
    .title__containe a{
    border: 2px solid #fff;
    }
   
    .main:after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
       background: rgba(0.0.0.0.4);    
    }
}

                         /* анимация для заголовков*/

.animation{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.animation:visited{
    color: white;
}

.animation:hover{
    color: #e0840a;
   
}

.animation:active{
transform: scale(1.2);
}



                       /* анимация для статистики*/

.statistics-1{
   opacity: 0; 
}

.statistics-1.statistics-0{
   opacity: 3; 
    transition: opacity 5s;
}



                                 /*Обо мне*/

.radius{
   width: 100%;
}

.fon-0{
      width: 100%; 
     height: 550px;
    background: url(../img/Fon-1.jpg);
    background-size: cover;
     
}


 @media (max-width: 770px){
    .fon-0{
    height:750px;
           }
    }


                             /*Между блоками*/

.block{
    height: 1px;
     background: white;
}


                              /*Что я умею*/

.fon{
     width: 100%;
    height: 450px;
    background: url(../img/Fon-2.jpg);
   background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
   @media (max-width: 990px){
       .fon{
    height:550px;
           }
    }
 @media (max-width: 578px){
       .fon{
    height:800px;
           }
    }
 


                                 /*Кейсы*/

.fon-1{
    height: 930px;
     background: url(../img/Fon-3.png);
     background-size: cover;
    background-position: center center;
}
@media (max-width: 420px){
       .fon-1{
    height:1050px;
           }
    }
                             /*Расчет стоимости */

.fon-2{
    height: 600px;
     background: url(../img/Fon-4.png);
    background-size: cover;
    background-position: center center;
}

                             /*Немного статистики*/

.fon-3{
     height: 400px;
     background: url(../img/Fon-5.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media (max-width: 420px){
       .fon-3{
    height:680px;
           }
    }


                               /*отзывы*/

.fon-4{
    height: 500px;
    background: url(../img/Fon%20-7.jpg);
    background-size: cover;
    background-position: center center;
}
@media (max-width: 420px){
       .fon-4{
    height: 1050px;
           }
    }

                           /*Мои контакты*/

.fon-5{
     height: 1150px;
       background: url(../img/fon-8.jpg);
    background-size: cover;
     background-position: center center;
}
@media (max-width: 420px){
       .fon-5{
    height: 1250px;
           }
    }


 

/* style snippet */
#thumbnail-preview-indicators {
 position: relative;
 overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
 #thumbnail-preview-indicators,
 #thumbnail-preview-indicators .slides,
 #thumbnail-preview-indicators .slides .slide-1, 
 #thumbnail-preview-indicators .slides .slide-2,
 #thumbnail-preview-indicators .slides .slide-3 {
 height: 500px;
 }
#thumbnail-preview-indicators .slides .slide-1 {
 background-image: url(../img/Work1.png); 
}
#thumbnail-preview-indicators .slides .slide-2 {
 background-image: url(../img/work2.png);
}
#thumbnail-preview-indicators .slides .slide-3 {
 background-image: url(../img/work3.png);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
 top: 20%;
 bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
 position: relative;
 width: 100px;
 height: 8px; 
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 position: absolute;
 top: 0;
 width: 100px;
 display: none;
 opacity: 0;
 left: 50%;
 margin-top: -80px;
 margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
 display: block;
 opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
 opacity: 1;
}
@media screen and (max-width : 480px) { 
 #thumbnail-preview-indicators .carousel-indicators li,
 #thumbnail-preview-indicators .carousel-indicators li.active {
 width: 50px;
 height: 8px;
 position: relative;
 }
 #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 width: 50px;
 left: 50%;
 margin-top: -50px;
 margin-left: -25px;
 }
}

                                     /*Стиль на модальное окно*/

.form-container{
 background: #ecf0f3;
 font-family: 'Nunito', sans-serif;
 padding: 40px;
 border-radius: 20px;
 
}

.form-container .form-icon{
 color: blue;
 font-size: 55px;
 text-align: center;
 line-height: 100px;
 width: 100px;
 height:100px;
 margin: 0 auto 15px;
 border-radius: 50px;
 box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
}

.form-container .title{
 color: black;
 font-size: 25px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 1px;
 text-align: center;
 margin: 0 0 20px;
}

.form-container .form-horizontal .form-group{ margin: 0 0 25px 0; }

.form-container .form-horizontal .form-group label{
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;
}

.form-container .form-horizontal .form-control{
 color: #333;
 background: #ecf0f3;
 font-size: 15px;
 height: 50px;
 padding: 20px;
 letter-spacing: 1px;
 border: none;
 border-radius: 50px;
 box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
 display: inline-block;
 transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .form-control:focus{
 box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
 outline: none;
}

.form-container .form-horizontal .form-control::placeholder{
 color: #808080;
 font-size: 14px;
}

.form-container .form-horizontal .btn{
 color: #000;
 background-color: lawngreen;
 font-size: 15px;
 font-weight: bold;
 text-transform: uppercase;
 width: 100%;
 padding: 12px 15px 11px;
 border-radius: 20px;
 box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
 border: none;
 transition: all 0.5s ease 0s;
}

.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus{
 color: #fff;
 letter-spacing: 3px;
 box-shadow: none;
 outline: none;
}

/*для ранней звгрузки простого шрифта*/
@font-face {
    font-family: 'FontName';
    src: local('FontName'), url('FontName.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }


                        



                           /*обо мне*/


.content h2{
	color: #fff;
	font-size: 4em;
	position: absolute;
	transform: translate(-60%, -40%);
   
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px gold;
}

.content h2:nth-child(2) {
	color: white;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

                                   /*Что я умею*/


.waviy1 span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

                                    /*кейсы*/


.waviy span {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  font-size: 30px;
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  25% {
    transform: translateY(-10px)
  }
}


                              /*Расчет стоимости*/
.center-outer {
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: #fff;
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 15px;
background-color: #fff;
z-index: 1;
}

                                 /*Немного статистики*/

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fff 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

                                           /*отзывы*/



svg {
    font: 3.5em '»»»Отзывы«««';  
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 6.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: gold;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: gold;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: white;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: gold;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: white;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

                                                 /*мои контакты*/

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
/*стиль для медиа кнопок*/

.flx {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.nshare {
  box-sizing: border-box;
  margin-top: calc(var(--nshare-spacing) * -1);
  margin-right: calc(var(--nshare-spacing) * -1);
}
.nshare-item {
  margin-right: var(--nshare-spacing);
  margin-top: var(--nshare-spacing);
}
.nshare-item,
.nshare-item:hover,
.nshare-item:active {
  text-decoration: none;
  color: inherit;
}
.nshare-item {transition: background .3s, color .3s;}
.nshare-item i {
  transition: transform .3s;
  margin: 0;
}
.nshare, .nshare-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nshare-vk {background-color: var(--nshare-vk);}
.nshare-ws {background-color: var(--nshare-whatsapp);}
.nshare-tlg {background-color: var(--nshare-telegram);}
.nshare-msj {background-color: var(--nshare-email);}

.nshare-vk:hover {color: var(--nshare-vk);}
.nshare-ws:hover {color: var(--nshare-whatsapp);}
.nshare-tlg:hover {color: var(--nshare-telegram);}
.nshare-msj:hover {color: var(--nshare-email);}

.nshare-item:hover i {transform: rotate(360deg);}

.nshare {
  --nshare-spacing: .5rem; 
  padding-top:0; 
  padding-bottom:0;
}

.nshare {
 
  --nshare-vk: #4376A6;
  --nshare-whatsapp: #4FCE5D;
  --nshare-telegram: #0088CC;
  --nshare-email: #464EB8;
}

.nshare-item {
  font-size: 22px; 
  width: 48px; 
  height: 48px; 
  border-radius: .7rem; 
  color: #fff; 
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.1),
              0 2px 5px -1px rgba(0,0,0,.05); 
}
.nshare-item:hover {
  background-color: #fff; 
}